{% extends '::base.html.twig' %}

{% block body -%}
    <h1>direccion_empresa</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Calle</th>
                <td>{{ entity.calle }}</td>
            </tr>
            <tr>
                <th>Numeroext</th>
                <td>{{ entity.numeroExt }}</td>
            </tr>
            <tr>
                <th>Numeroint</th>
                <td>{{ entity.numeroInt }}</td>
            </tr>
            <tr>
                <th>Colonia</th>
                <td>{{ entity.colonia }}</td>
            </tr>
            <tr>
                <th>Codigopostal</th>
                <td>{{ entity.codigoPostal }}</td>
            </tr>
            <tr>
                <th>Delemuni</th>
                <td>{{ entity.deleMuni }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('direccion_empresa') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('direccion_empresa_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
