{% extends '::base.html.twig' %}

{% block body -%}
    <h1>caracteristicas_equipo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Versionsoftware</th>
                <td>{{ entity.versionSoftware }}</td>
            </tr>
            <tr>
                <th>Numerointerfaz</th>
                <td>{{ entity.numeroInterfaz }}</td>
            </tr>
            <tr>
                <th>Dimenciones</th>
                <td>{{ entity.dimenciones }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('caracteristicas_equipo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('caracteristicas_equipo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
