{% extends '::base.html.twig' %}

{% block body -%}
    <h1>procesador</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ entity.marca }}</td>
            </tr>
            <tr>
                <th>Modelo</th>
                <td>{{ entity.modelo }}</td>
            </tr>
            <tr>
                <th>Velocidad</th>
                <td>{{ entity.velocidad }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('procesador') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('procesador_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
