{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ubicacion list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Calle</th>
                <th>Numeroext</th>
                <th>Numeroint</th>
                <th>Colonia</th>
                <th>Codigopostal</th>
                <th>Delemuni</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ubicacion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.calle }}</td>
                <td>{{ entity.numeroExt }}</td>
                <td>{{ entity.numeroInt }}</td>
                <td>{{ entity.colonia }}</td>
                <td>{{ entity.codigoPostal }}</td>
                <td>{{ entity.deleMuni }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('ubicacion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('ubicacion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('ubicacion_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
